  .container {
width: 700px;
height: 200px;
}
svg{
  border: 2px solid;
}
.container:hover .circle-fig{
  animation-name: circle-anim;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.container:hover .rect-left {
  animation-name: police-left;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;           animation-timing-function: linear;
}
.container:hover .rect-right {
  animation-name: police-right;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
.container:hover .triangle{
  animation-name: triangle-anim;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  stroke: red;
  stroke-width: 7px;
  stroke-linejoin: round;
  fill: none;
}
@keyframes circle-anim {
  from{
    fill: black;
    r: 50;
  }
  to{
    fill: #ffd000;
    r: 90;
  }
}
@keyframes police-left{
  from{ fill: red; }
  to{ fill: blue; }
}
@keyframes police-right{
  from{ fill: blue; }
  to{ fill: red; }
}
@keyframes triangle-anim {
  33%{transform: translate(0px, 20px)}
  66%{transform: translate(0px, -20px)}
  to{transform: translate(0px, 0px)}
  
}